<div class="container mt-3">
  <h1 class="text-center">Angular Forms</h1>
  <p>Forms are used to handle user input data. Forms send data to database through API</p>

  <div>
    <button class="btn btn-primary" routerLink="" routerLinkActive="active">Template Driven Form</button>
    <button class="btn btn-primary ms-5" routerLink="reactive" routerLinkActive="active">Reactive Form</button>
    <button class="btn btn-primary ms-5" routerLink="validation" routerLinkActive="active">Validation Form</button>
  </div>
</div>

<router-outlet> </router-outlet>